<table class="client-report_container_table table table-hover ">
    <tbody>
        <tr>
            <td><%= 'name' %></td><td><%= name %></td>
        </tr>
        <tr>
            <td><%= 'description' %></td><td><%= description %></td>

        </tr>
        <tr>
            <td><%= 'created_at' %></td><td><%= created_at %></td>

        </tr>
        <tr>
            <td><%= 'watchers_count' %></td><td><%= watchers_count %></td>

        </tr>
        <tr>
            <td><%= 'url' %></td><td><%= url %></td>

        </tr>
    </tbody>
</table>