.spinner{
  top: calc(50vh - 50px)!important;
  &:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(56, 56, 56, 0.39);
    width: 100%;
    height: 100vh;
  }
}